@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

@font-face {
  font-family: "proxima-nova-soft";
  font-style: normal;
  src: url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
}

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: "proxima-nova-soft";
}

.azul{
  color:#3498DB;
}

nav>ul{
  height: 17vh;
  width:100%;
  margin-left: 20px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

nav>ul>li>a{
  color:white;
  font-family: "proxima-nova-soft";
}

.user{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 17vh;
  align-items: center;
}

.user-hover{
  width:40%;
  cursor: pointer;
}

.user-hover:hover span{
  color:blue;
  border-color: blue;
}

.iconU{
  border:1px solid white;
  margin:1%;
  padding:1%;
  border-radius: 50%;
  color:white;
}

.icon{
  background-size: contain;
  vertical-align: middle;
}

.right{
  position:absolute;
  right: 15px;
  top:2px;
  cursor:pointer;
  z-index: 10;
}

.icon--xs{
  width:26px;
  height:26px;
  position:absolute;
  z-index:4;
  cursor:pointer;
}

.navbar-brand img{
  display:block;
  width:90px;
  padding: 0;
}

.row-nav{
  overflow:auto;
  width:98%;
  margin:20px auto;
  position: absolute;
  top:2rem;
  z-index: 10;
}

.hello{
  color:white;
  padding: 10px;
  background-color: #ED7161;
  display:block;
  position:fixed;
  width:100%;
  z-index: 11;
}

a:hover{
  text-decoration: none;
  color:blue;
}

.heading{
  font-size: 6.57143rem;
  line-height: 5.14286rem;
  font-family: "proxima-nova-soft";
  font-weight: 600;
}

.subheading{
  font-size: 2.5rem;
  line-height: 4rem;
  font-family: "proxima-nova-soft";
  font-weight: 600;
}

.white{
  color:white;
}

.hero-park{
  display: block;
  position:absolute;
  width:260px;
  height:316px;
  bottom:70px;
  left: 11em;
}

.hero-brench{
  display:block;
  position:absolute;
  width:148px;
  height:68px;
  bottom:70px;
  right: 23em;
}

.hero-all{
  display:block;
  position:absolute;
  z-index: 0;
  width: 95%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  bottom: 50px;
  padding: 0;

}

.portada{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  z-index: 5;
}

a.bstyle{
  background-color:#3498DB;
  border-radius: 999px;
  color:white;
  font-size: 24px;
  padding:14px 45px;
  margin-top: 40px;
}

a.bstyle:hover{
  color:white;
  background-color:#1280C9;
  cursor: pointer;
}

.port{
  background-repeat: repeat;
	background-size: cover;
	background-position: center;
  overflow: auto;
}

.section-nate{
  padding-bottom: 8rem;
  padding-top: 4rem;
}

section#how{
  background-color: #F9F9F9;
}

section#community{
  background-color: #75B9E7;
  padding-bottom: 20rem;
}

i.icon--how{
  position:absolute;
  top:50px;
  left:65px;
  width: 175px;
  height: 175px;
}

.circle--icon{
  background-color: #FFCC66;
  width: 275px;
  height: 275px;
  border-radius: 50%;
}

.step-how-row{
  margin-top:10rem;
}

.how-title{
  margin:0 0 20px;
  font-size: 50px;
  font-size: 4.82857rem;
  line-height: 4rem;
  font-weight: 600;
}

.how-parrafo{
  line-height: 3.57143rem;
  font-size: 1.86rem;
  font-weight: 600;
  color: #494949;
}

.promise-margin{
  margin-bottom: 14rem;
}

.promise-title{
  margin:20px 0;
  font-size: 50px;
  font-size: 5.82857rem;
  line-height: 4rem;
  font-weight: 600;
}

.promise-parrafo{
  line-height: 3.57143rem;
  font-size: 2.26rem;
  font-weight: 600;
  color: #494949;
}

.community-parrafo{
  line-height: 3.57143rem;
  font-size: 2.26rem;
  font-weight: 600;
  color:white;
}

.icon--promise{
  width:80px;
  height: 80px;
  position:absolute;
  left:16rem;
}

.text-promise{
  position: absolute;
  top: 7rem;
  padding: 10px 50px;
  line-height: 2rem;
}

.promise-h5{
  color: #6EA43F;
  font-size: 18px;
  font-size: 1.88571rem;
  font-weight: 600;
}

.title-h2{
  margin-top: 60px;
}

.icon-arrow{
  width:30px;
  height: 30px;
  position: absolute;
  right: 20px;
}

.row-2{
  margin-top: 25rem;
}

.row-sprite{
  margin-top: 40px;
}

.sprite{
  width:100px;
  height:100px;
  border-radius: 50%;
  margin: auto;
}

.icon-star{
  position: absolute;
  width: 100px;
  height: 100px;
}

.sprite-parrafo{
  line-height: 3rem;
  font-size: 1.76rem;
  font-weight: 600;
  color: #fff;
}

.title-name{
  color:#fff;
  font-size: 2.4rem;
  font-weight: 600;
}

.title-ocu{
  color:#fff;
  font-size: 1.8rem;
  font-weight: 600;
}

.persona1{
  background-image: url("https://thisisneat.com.au/wp-content/themes/neat/shared/img/sprites/testimonials.jpg");
}

.persona2{
  background-image: url("https://thisisneat.com.au/wp-content/themes/neat/shared/img/sprites/testimonials.jpg");
  background-position: center bottom;
}

.persona3{
  background-image: url("https://thisisneat.com.au/wp-content/themes/neat/shared/img/sprites/testimonials.jpg");
  background-position: center 50%;
}

section#cleaning{
  background-color: #3498DB;
}

.row-cleaning{
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.fotos{
  position: absolute;
  width: 100%;
  top: -170px;
}

.clean{
  position: absolute;
  top:0;
  z-index: 1;
}

.clean1{
  transform: rotateZ(-5deg);
  transition: 0.75s;
  left:0;
}

.clean1:hover{
  transition: 0.75s;
  transform: rotateZ(-10deg);
}

.clean2{
  left:20%;
  transition: 0.75s;
  transform: rotateZ(5deg);
}

.clean2:hover{
  transition: 0.75s;
  transform: rotateZ(10deg);
}

.clean3{
  left:40%;
  transition: 0.75s;
  transform: rotateZ(5deg);
}

.clean3:hover{
  transition: 0.75s;
  transform: rotateZ(10deg);
}

.clean4{
  left:60%;
  transform: rotateZ(5deg);
  transition: 0.75s;
}

.clean4:hover{
  transition: 0.75s;
  transform: rotateZ(10deg);
}

.clean5{
  left:80%;
  transform: rotateZ(-5deg);
  transition: 0.75s;
}

.clean5:hover{
  transition: 0.75s;
  transform: rotateZ(-10deg);
}

.back{
  position: absolute;
  top:0;
}

.clean-back1{
  left:5%;
  transition: 0.75s;
  transform: rotateZ(3deg);
}

.clean-back1:hover{
  transition: 0.75s;
  transform: rotateZ(-3deg);
}

.clean-back2{
  left:35%;
  transform: translateY(-2%) rotateZ(-6deg);
  transition: 0.75s;
}

.clean-back2:hover{
  transform: translateY(0%) rotateZ(0deg);
  transition: 0.75s;
}

.clean-back3{
  left:65%;
  transition: 0.75s;
  transform: translateY(2%) rotateZ(-1deg);
}

.clean-back3:hover{
  left:65%;
  transition: 0.75s;
  transform: translateY(2%) rotateZ(-5deg);
}

.clean-back4{
  left:80%;
  transition: 0.75s;
  transform: scaleX(-1) translateY(5%) rotateZ(-3deg);
}

.clean-back4:hover{
  left:80%;
  transition: 0.75s;
  transform: scaleX(-1) translateY(5%) rotateZ(-6deg);
}

.relative{
  position: relative;
}

.note{
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;
}

.kit{
  height:778px;
}

.kit2{
  height: 311px;
}

.check-list:after{
  content: "";
  display: block;
  position: absolute;
  top: 137px;
  left: 59px;
  width: 1px;
  height: 81%;
  z-index: 1;
  background-color: #ECBBB6;
}

.check-list2:after{
  content: "";
  display: block;
  position: absolute;
  top: 74px;
  left: 59px;
  width: 1px;
  height: 74%;
  z-index: 1;
  background-color: #ECBBB6;
}


.list-db:before{
  content: "";
  display: block;
  position: absolute;
  top: 74px;
  left: 63px;
  width: 1px;
  height: 90%;
  z-index: 1;
  background-color: #ECBBB6;
}

.list-db:after{
  content: "";
  display: block;
  position: absolute;
  top: 74px;
  left: 60px;
  width: 1px;
  height: 90%;
  z-index: 1;
  background-color: #ECBBB6;
}

.list-db2:before{
  content: "";
  display: block;
  position: absolute;
  top: 74px;
  left: 63px;
  width: 1px;
  height: 77%;
  z-index: 1;
  background-color: #ECBBB6;
}

.list-db2:after{
  content: "";
  display: block;
  position: absolute;
  top: 74px;
  left: 60px;
  width: 1px;
  height: 77%;
  z-index: 1;
  background-color: #ECBBB6;
}


.check-head{
  font-size: 3rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.check-subhead{
  font-size: 1.5rem;
}

.check-checkbox{
  margin:0;
  padding:23px 10px 23px 77px;
  border-top: 1px solid #eee;
}

.ok{
  position: absolute;
  top: 22px;
  left: 0;
  width: 30px;
  height: 30px;
}

section#getyourquote{
  background-color: #EEE;
}

.row-quote{
  width: 750px;
  margin: auto;
  background-color: #fff;
}

.icon{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: contain;
  vertical-align: middle;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.row-parallel{
  padding: 0 20px;
}

input[type=radio]{
  opacity: 0;
  z-index: 1;
}

.btn-tooltip{
  position:relative;
  top:-50px;
  left:15px;
  width: 20px;
  height: 20px;

}

.btn-tooltip1{
  position: relative;
  top: -15px;
  left: -89px;
  width: 20px;
  height: 20px;
}

.intro--heading{
  font-size: 4.8rem;
  line-height: 4rem;
  font-weight: 600;
  margin: 30px 0 15px;
}

.intro--subheading{
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 600;
  margin: 0 0 15px;
}

.quote-block{
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 600;
}

.quote-help{
  font-size: 1.2rem;
}

.quote-group{
  border-bottom: 1px solid #ccc;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 90%;
  margin: auto;
}


div label.quote-property{
  padding-left: 8px;
}

.row--gutter-sm{
  margin-left: -10px;
  margin-right: -10px;
}

.spinner{
  display: flex;
}

.spinner-act{
  display: inline-flex;
  width:50%;
  margin-right: 5px;
}

label[for="opt"]:before{
  position: absolute;
  top: 12px;
  left: 43px;
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: -30px;
  border:1px solid #ccc;
}

.label-title{
  padding: 15px 40px;
}

.btn-gral{
  background-color: #FFF;
  border: 1px solid #CCC;
}

div.options{
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  padding-top: 10px;
}

@media screen and (max-width:960px){

  div.port{
    background-position:right;
    height: 100vh;
  }

  div.portada{
    padding: 0;
  }

  h4.subheading{
    text-align: center;
  }

  .hero-brench{
    right:-70px;
  }

  .hero-park{
    left:-180px;
  }


}
